<h4>{{ title }}</h4>
<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label> Demo </ng-template>
    <ng-template matTabContent>
      <div class="col-md-8 mr-auto ml-auto dropdown-container">
        <angular2-multiselect
          [data]="itemList"
          [(ngModel)]="selectedItems"
          [settings]="settings"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="OnItemDeSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelectAll)="onDeSelectAll($event)"
        ></angular2-multiselect>
        <br />
        <span>Total Records : {{itemList.length}}</span>
        <div class="example-button-row">
          <br />
          <br />
          <button
            mat-raised-button
            color="warn"
            (click)="changeData()"
            class="btn btn-danger"
          >
            Reset
          </button>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Source </ng-template>
    <ng-template matTabContent>
      <cuppa-source
        [tstitle]="tstitle"
        [htmltitle]="htmltitle"
        [csstitle]="csstitle"
        [tsgist]="tsgist"
        [htmlgist]="htmlgist"
        [cssgist]="cssgist"
      ></cuppa-source>
    </ng-template>
  </mat-tab>
</mat-tab-group>
