<h4>{{ title }}</h4>
<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label> Demo </ng-template>
    <ng-template matTabContent>
      <div class="col-md-8 mr-auto ml-auto dropdown-container">
        <angular2-multiselect
          [data]="itemList"
          [(ngModel)]="selectedItems"
          [settings]="settings"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="OnItemDeSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelectAll)="onDeSelectAll($event)"
          (onAddFilterNewItem)="onAddItem($event)"
        >
        </angular2-multiselect>
      </div>
      <div class="alert alert-warning" role="alert">
        <b>How this example works !! </b>
        <br />
        When you try to filter the list items, if no search results are
        available, you would see an 'Add' button. On clicking the add button, it
        would emit the text that you enter in the input field to your controlle
        in the callback method, as show in the below code. You can add this item
        to the data list. If you wish, that this item be selected, add it to
        selected items list.
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Source </ng-template>
    <ng-template matTabContent>
      <cuppa-source
        [tstitle]="tstitle"
        [htmltitle]="htmltitle"
        [csstitle]="csstitle"
        [tsgist]="tsgist"
        [htmlgist]="htmlgist"
        [cssgist]="cssgist"
      ></cuppa-source>
    </ng-template>
  </mat-tab>
</mat-tab-group>
