<h4>{{ title }}</h4>

<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
    <mat-tab>
      <ng-template mat-tab-label>
        Demo
      </ng-template>
      <ng-template matTabContent>
        <div class="col-md-8 mr-auto ml-auto dropdown-container">
            <button mat-button (click)="openDialog()">Open dialog</button>
        </div>

      </ng-template>
      
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label> Source </ng-template>
      <ng-template matTabContent>
        <cuppa-source [tstitle]="tstitle" [htmltitle]="htmltitle" [csstitle]="csstitle" 
[tsgist]="tsgist" [htmlgist]="htmlgist" [cssgist]="cssgist" ></cuppa-source>
      </ng-template>
      
    </mat-tab>
  </mat-tab-group>
