<h2 class="example-title">{{title}}</h2>
<div class="row">
<div class="col-md-6 ml-auto mr-auto">
    <form [formGroup]="userForm" novalidate style="border: 1px solid #ccc; padding: 10px;">
        <div class="form-group">
            <label for="name">Skills</label>
            <span style="color: red;float: right;">* required</span>
           <angular2-multiselect [data]="itemList" [(ngModel)]="selectedItems" 
                                  [settings]="settings" 
                                  (onSelect)="onItemSelect($event)"
                                  (onDeSelect)="OnItemDeSelect($event)" 
                                  (onSelectAll)="onSelectAll($event)" 
                                  (onDeSelectAll)="onDeSelectAll($event)" formControlName="skills">
            </angular2-multiselect>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="name">Email Address</label>
            <span style="color: red;float: right;">* required</span>
            <input class="form-control" formControlName="email">
        </div>
        <button (click)="submitForm()" [disabled]="!userForm.valid" class="btn btn-success btn-block">Submit</button>
    </form>

</div>
<div class="col-md-6">
    <table class="table">
        <tr>
            <td><label>Name</label></td>
            <td>{{userForm.value.name}}</td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td>{{userForm.value.email}}</td>
        </tr>
        <tr>
            <td><label>Skills</label></td>
            <td>
                <h6 *ngFor="let obj of userForm.value.skills">{{obj.itemName}}</h6>
            </td>
        </tr>
    </table>
    <span>{{userForm.value | json}}</span>
    <p>Form status: {{ userForm.status | json }}</p>
</div>
</div>
<h4 class="example-title code-section">Code</h4>

<p-tabView>
    <p-tabPanel header="{{tstitle}}">
       <ng2-gist [gistId]="tsgist"></ng2-gist>
    </p-tabPanel>
    <p-tabPanel header="{{htmltitle}}">
        <ng2-gist [gistId]="htmlgist"></ng2-gist>
    </p-tabPanel>
    <span *ngIf="cssgist">
        <p-tabPanel header="{{csstitle}}">
        <ng2-gist [gistId]="cssgist"></ng2-gist>
    </p-tabPanel>
    </span>
</p-tabView>