<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1" >
    <a ngbNavLink>{{ tstitle }}</a>
    <ng-template ngbNavContent>
      <ng2-gist [gistId]="tsgist"></ng2-gist>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>{{ htmltitle }}</a>
    <ng-template ngbNavContent>
      <ng2-gist [gistId]="htmlgist"></ng2-gist>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>{{ csstitle }}</a>
    <ng-template ngbNavContent>
      <ng2-gist [gistId]="cssgist"></ng2-gist>
    </ng-template>
  </li>
</ul> 
<div [ngbNavOutlet]="nav" class="mt-2"></div>