<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab label="tstitle">
    <ng-template mat-tab-label>
      {{ tstitle }}
    </ng-template>
    <ng-template matTabContent>
      <ng2-gist [gistId]="tsgist"></ng2-gist>
    </ng-template>
    
  </mat-tab>
  <mat-tab label="htmltitle">
    <ng-template mat-tab-label> {{ htmltitle }} </ng-template>
    <ng-template matTabContent>
      <ng2-gist [gistId]="htmlgist"></ng2-gist>
    </ng-template>
    
  </mat-tab>
  <mat-tab label="csstitle">
    <ng-template mat-tab-label> {{ csstitle }} </ng-template>
    <ng-template matTabContent>
      <ng2-gist [gistId]="cssgist"></ng2-gist>
    </ng-template>
    
  </mat-tab>
</mat-tab-group>
