<nav class="navbar navbar-expand-lg fixed-top cuppa-navbar">
  <div class="container-fluid">
    <a class="navbar-brand cuppa-brand col-lg-2" href="#">
      <img src="assets/img/cuppa-logo-coffee11.png" height="32" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">
            <img src="assets/img/angular.svg" height="32" alt="" style="margin-top: -3px;height: 25px;" />
            Multiselect Dropdown
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" [routerLink]="['basic']">Examples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://cuppalabs.github.io/components/multiselectDropdown"
            target="_blank">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://cuppalabs.github.io/aboutme" target="_blank">About Me</a>
        </li>
      </ul>

      <ul class="navbar-nav m2-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://www.npmjs.com/package/angular2-multiselect-dropdown"
            target="_blank">
            <img src="https://img.shields.io/npm/v/angular2-multiselect-dropdown.svg" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://github.com/CuppaLabs/angular2-multiselect-dropdown"
            target="_blank">
            <img style="height: 15px;" src="assets/img/GitHub-Mark-32px.png" />
            Source on Github
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row d-flex">
    <nav id="sidebarMenu" class="col d-md-block sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <span *ngFor="let link of links">
            <li class="nav-item">
              <a class="nav-link" *ngIf="link.path !== ''" [routerLink]="[link.path]" routerLinkActive="active">
                <span data-feather="home"></span>
                {{ link.data.label }}
              </a>
            </li>
          </span>
        </ul>
      </div>
    </nav>
    <main class="col center-content pt-4">
      <h4 class="mb-4">{{ currentComponent.label }}</h4>
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Demo</a>
          <ng-template ngbNavContent>
            <div class="pt-5">
              <router-outlet></router-outlet>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Source</a>
          <ng-template ngbNavContent>
            <cuppa-source [tstitle]="currentComponent.tstitle" [htmltitle]="currentComponent.htmltitle"
              [csstitle]="currentComponent.csstitle" [tsgist]="currentComponent.tsgist"
              [htmlgist]="currentComponent.htmlgist" [cssgist]="currentComponent.cssgist"></cuppa-source>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </main>
  </div>
</div>