
<div class="row">
    <div class="col-md-3 left-sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action disabled">
    Examples
  </a>
        <a [routerLink]="['basic']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Multiselect basic example</a>
        <a [routerLink]="['singleselection']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Single selection</a>
        <a [routerLink]="['searchfilter']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Search filter</a>
        <a [routerLink]="['groupby']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Group By</a>
        <a [routerLink]="['templating']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Templating</a>
        <a [routerLink]="['usinginform']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Using in Template Driven Forms</a>
        <a [routerLink]="['usinginreactiveform']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Using in Reactive Forms</a>
        <a [routerLink]="['lazyloading']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Lazy Loading</a>
        <a [routerLink]="['resetdropdown']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Reset dropdown</a>
        <a [routerLink]="['disablemode']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Disable dropdown</a>
        <a [routerLink]="['limitselection']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Limit selection</a>
        <a [routerLink]="['limitbadges']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Limit Badges</a>
        <a [routerLink]="['customplaceholder']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Custom placeholder</a>
        <a [routerLink]="['styling']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">CSS Styling</a>

      </div>
    </div>
    <div class="col center-content">
      <router-outlet></router-outlet>
    </div>
</div>