.left-sidebar, .right-sidebar {
    width: 330px;
    max-width: 330px;
    min-width: 330px;
}
.outer-wrapper {
    padding: 30px;
}
.center-content{
    background: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
    padding: 15px;
}
.nav-sub{
    width: 100%;
    box-shadow: none;
    margin-bottom: 6px;
    padding: 0px;
}
.nav-wrapper {
    padding: 0px 10px;
}