.left-sidebar {
    position: fixed;
    top: 65px;
    height: calc(100vh - 75px);
    padding-right: 0px;
    overflow: hidden;
}
.left-sidebar, .right-sidebar {
    width: 260px;
}
.left-sidebar:hover {
    overflow: auto;

}

.outer-wrapper {
    padding: 30px;
}
.center-content{
    background: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
    padding: 15px;
    margin-left: 0px;
    margin-top: 0px;
}
@media (min-width: 768px) { 
    .center-content {
        margin-left: 265px;
    }
}
.nav-sub{
    width: 100%;
    box-shadow: none;
    margin-bottom: 6px;
    padding: 0px;
    margin-top: 50px;
}
.nav-wrapper {
    padding: 0px 10px;
}
.list-group-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
